<!DOCTYPE html>
<html>
    <head>
        <title>ExampleEjs</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
    </head>
    <body>
        <h1>Exmple usage of Ejs : <%= data.userQuery %></h1>
        <ul>
            <li>Line one</li>
            <li>Line two</li>
            <li>Line three</li>
        </ul>
    </body>
</html>